@model AutoPartsWebSite.Models.Order

@{
    ViewBag.Title = "УДАЛЕНИЕ ЗАКАЗА";
}

<DIV class="main-text">
    <h1 id="cntr">@ViewBag.Title</h1>
    <div class="reg-form">
        <br>

        <h3>Внимание!</h3>
        <p>Заказ: <span id="red">@Html.DisplayFor(model => model.Id)</span></p>
       

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="УДАЛИТЬ" class="btn btn-default" />
            </div>
        }
    </div>
</DIV>
<div id="cntr">
    @Html.ActionLink("Вернуться к позициям заказа", "Index")
</div><br>

