@{
    ViewBag.Title = "ALFA PARTS - автозапчасти оптом";
}
<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>

<p>Компания ALPHA PARTS — один из ведущих дистрибьюторов  запасных частей для легковых автомобилей и коммерческого транспорта. Среди наших  партнёров — все известные в мире производители, которые являются поставщиками  крупнейших автоконцернов.</p>
<h2>Широкий ассортимент и быстрая доставка</h2>
<p><br>
  Среди товарных групп автозапчастей —&nbsp;всё, что нужно для технического  обслуживания и ремонта автомобиля, а именно:<strong> </strong></p>
<ul type="disc">
  <li>система фильтрации;</li>
  <li>ходовая часть, подвеска;</li>
  <li>трансмиссия: сцепление, ступицы, подшипники и др.;</li>
  <li>тормозная система;</li>
  <li>детали двигателя и топливная система;</li>
  <li>система выхлопа;</li>
  <li>электрооборудование;</li>
  <li>многое-многое другое.</li>
</ul>
<p>Мы доставим ваш заказ максимально быстро благодаря  тщательно продуманной логистике и сети отделений по всей стране.<br>
  <br>
  <br>
  Приём заказов и отгрузка со складов группы компаний ALPHA PARTS идёт ежедневно,  без выходных. <br>
  Доставка осуществляется регулярно в соответствии с графиком движения  транспортных средств. <br>
  <br>
  Среди наших услуг есть экспресс-доставка день в день и авиадоставка (условия  таких доставок обсуждаются персонально с менеджером).</p>
<h2>Бренды</h2>
<p>Десятки различных брендов продукции для легковых автомобилей и  лёгкого коммерческого транспорта представлены в каждом товарном секторе.</p>
<h2>Гарантия и возврат товара</h2>
<p>Мы работаем только с качественными производителями и&nbsp;проверенными поставщиками.<br>
  <br>
  Мы осознаем ответственность нашего клиента перед своими покупателями, поэтому  гарантируем быстрое и объективное решение всех вопросов, связанных с качеством  приобретённых у нас запчастей. </p>
</DIV>