@{
    ViewBag.Title = "КОНТАКТЫ ALFA PARTS";
}

	<DIV class="main-text">
	<h1 id="cntr">@ViewBag.Title</h1>

<div>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=TSE0zbdwSmLk3uvptQv2RphUPMoXGhPB&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

    <address>
        <strong>E-Mail:</strong><a href="mailto:INFO@ALFA-PARTS.COM">INFO@ALFA-PARTS.COM</a><br />
        <strong>Tel:</strong><abbr title="Phone"><a href="tel:+971520000000">+971 52 000 0000</a></abbr>
    </address>
		
</div>

</DIV>