@{
    ViewBag.Title = "Подтверждение e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Спасибо Вам, за подтверждение вашего e-mail. Пожалуйста @Html.ActionLink("нажмите эту ссылку для входа в систему", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
    <p>
        В ближайшее время Администрация сайта свяжется с Вами. После обсуждения условий сотрудничества Вы получите доступ к остальным модулям сайта.
    </p>
</div>
